.not-found {
  color: #2c3e50;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found-container a {
  color: #00bc77;
}

.not-found-container h1 {
  font-size: 175px;
  color: #00bc77;
}
