.bg-dark {
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.sign-in-content .main-nav-item {
  margin: 0 auto;
  text-decoration: none;
}

.sign-in-content .main-nav-item:hover {
  margin: 0 auto;
  text-decoration: none;
}
